@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* 添加自定義 CSS */
#articleForm {
    font-family: "Lora", serif;
    min-width: 800px;
    max-width: 8500px;
    margin: 10px auto; /* 將 margin 設為 auto，使其水平置中 */
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* 使用 Flexbox 佈局 */
    flex-direction: column; /* 將子元素排列為垂直方向 */

}

label {
    font-family: "Lora", serif;
    margin-top: 30px;
    font-weight: bold;
    display: block;
    text-align: left; /* 將文字向左對齊 */
}

input[type="text"],
textarea,
select {
    font-family: "Lora", serif;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button[type="submit"] {
    font-family: "Lora", serif;
    background-color: #FF6F61;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: block; /* 讓按鈕變成區塊元素 */
    margin: 15px auto; /* 使按鈕置中 */
}

button[type="submit"]:hover {
    background-color: #fa9990;
}


