body {
    background-color: #f5f5f5;
}

#main-content {
    max-width: 800px;
    padding: 1em 2em;
    margin: 0 auto 50px;
    background-color: #fff;
    /*border: 1px solid #e5e5e5;*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
}


.navbar {
    background-color: #ff6f61; /* 活潑的橙紅色 */
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: flex-end; /* 將內容靠右對齊 */
    align-items: center;
}

.navbar h1 {
    font-family: 'Segoe Script', cursive;
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column; /* 將元素堆疊在一起 */
    align-items: flex-start; /* 左對齊 */
}

.navbar h1 .slogan {
    font-family: 'Segoe Script', cursive; /* 口號的字體 */
    font-size: 14px; /* 口號的字體大小 */
}


.navbar button {
    margin-left: 10px; /* 設置按鈕之間的間距 */
}

.image-wrapper {
    margin-right: 10px;
}

.publish-btn, .match-btn, .account-btn, .logout-btn {
    width: 35px; /* 設置按鈕寬度 */
    height: 35px; /* 設置按鈕高度 */
    margin-left: 30px;
}

.gaming-item {
    background-image: url('/image/console.png');
}

.sports-item {
    background-image: url('/image/sports.png');
}

.business-item {
    background-image: url('/image/briefcase.png');
}

.crypto-item {
    background-image: url('/image/bitcoin.png');
}

.television-item {
    background-image: url('/image/television.png');
}

.celebrity-item {
    background-image: url('/image/magazine.png');
}

.dow-jones {
    background-image: url('/image/letter-d.png');
}

.sp-500 {
    background-image: url('/image/spark.png');
}

.nasdaq {
    background-image: url('/image/nasdaq.png');
}

.philadelphia {
    background-image: url('/image/liberty-bell.png');
}

.article-content {
    display: flex;
    align-items: flex-start;
}

.image-wrapper {
    margin-right: 10px;
}

.article-content img {
    max-width: 200px;
}

.content-details {
    flex: 1;
}