body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: flex-end; /* 將內容靠右對齊 */
    align-items: center;
}

.navbar h1 {
    font-family: Brush Script MT, cursive;
    margin: 0;
    padding: 0;
    flex: 1; /* 讓標題佔據剩餘空間 */
}

.navbar button {
    margin-left: 10px; /* 設置按鈕之間的間距 */
}

.container {
    flex: 1;
    display: flex;
    position: relative;
}


.board-list {
    font-family: 'Garamond', serif;
    flex: 0 0 200px; /* 固定寬度 */
    background-color: #f4f4f4;
    padding: 10px;
    /*margin-right: 20px; !* 添加右邊間隙 *!*/
}

.article-list {
    font-family: Arial, sans-serif; /* 使用與 Reddit 相似的字體 */
    font-size: 16px; /* 設置字體大小 */
    line-height: 1.6; /* 設置行高 */
    flex: 1;
    background-color: white;
    padding: 10px;
}

#pagination {
    position: absolute; /* 將分頁按鈕設為絕對定位 */
    bottom: 10px; /* 與底部的距離 */
    left: 50%; /* 使按鈕水平居中 */
    transform: translateX(-50%); /* 調整位置使按鈕水平居中 */
}


.board-list h2, .article-list h2 {
    margin: 0 0 10px 0;
    padding: 0;
}

.board-list h2:last-of-type {
    margin-bottom: 10px; /* 添加底部間距 */
}

.article-details {
    display: flex;
}

.article-details p {
    margin-right: 20px; /* 調整每個 <p> 元素之間的間距 */
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 5px 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}
