@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
    font-family: 'Roboto', sans-serif; /* 使用 Roboto 字體 */
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #ff6f61; /* 活潑的橙紅色 */
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: flex-end; /* 將內容靠右對齊 */
    align-items: center;
}

.navbar h1 {
    /*font-family: 'Segoe Script', cursive;*/
    font-family: "PT Sans", sans-serif;
    margin: 0;
    padding: 0;
    flex: 1; /* 讓標題佔據剩餘空間 */
    letter-spacing: 2px; /* 調整字元之間的空間 */
}

.navbar .slogan {
    display: flex; /* 使用 flexbox */
    align-items: center; /* 垂直居中對齊 */
    font-size: 10px;
}

.navbar .slogan h1 {
    margin-right: 5px; /* 調整標題和副標題之間的間距 */
}


.navbar button {
    margin-left: 10px; /* 設置按鈕之間的間距 */
}

.container {
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden; /* 禁止內容超出容器範圍 */
}


.board-list {
    /*font-family: "Lora", serif;*/
    flex: 0 0 200px; /* 固定寬度 */
    background-color: #e0e0e0; /* 淡灰色 */
    padding: 5px;
    margin-right: 20px; /* 添加右邊間隙 */
}

.board-list hr {
    border: none; /* 移除原來的邊框 */
    border-top: 1.5px solid black; /* 添加上方2px粗的黑色邊框 */
    width: 180px;
}


.board-list h2 {
    margin-top: 5px;
    font-family: "PT Sans", sans-serif; /* 將h2的字體設置為Roboto */
    text-align: center; /* 將標題置中 */
}

.board-list ul {
    font-family: "Lora", serif; /* 將ul的字體設置為Lora */
}

.article-list {
    /*font-family: "Poppins", sans-serif; !* 使用 Roboto 字體 *!*/
    font-family: "Lora", serif;
    font-size: 16px; /* 設置字體大小 */
    line-height: 1.3; /* 設置行高 */
    flex: 1;
    background-color: white;
    /*padding: 5px;*/
    overflow-y: auto; /* 僅當內容超出容器時啟用垂直捲動 */
    max-height: calc(90vh - 50px); /* 視口高度減去頂部導航欄高度 */
    margin-top: 20px;
}

#pagination {
    position: absolute; /* 將分頁按鈕設為絕對定位 */
    bottom: 10px; /* 與底部的距離 */
    left: 50%; /* 使按鈕水平居中 */
    transform: translateX(-50%); /* 調整位置使按鈕水平居中 */
}


.article-list h2 {
    margin-top: 10px;
    margin: 0 0 10px 0;
    padding: 0;
}

.board-list h2:last-of-type {
    margin-bottom: 10px; /* 添加底部間距 */
}

.article-details {
    display: flex;
}

.article-details p {
    margin-right: 20px; /* 調整每個 <p> 元素之間的間距 */
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 5px 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

.slogan {
    font-size: 14px; /* 調整標語的字體大小 */
}

.publish-btn, .match-btn, .account-btn, .logout-btn {
    width: 30px; /* 設置按鈕寬度 */
    height: 30px; /* 設置按鈕高度 */
    margin-left: 40px;
}


/* 設定icon */
.list-item {
    padding-left: 30px; /* 為了給圖像留出空間 */
    background-size: 20px; /* 調整圖像大小 */
    background-repeat: no-repeat; /* 避免重複顯示 */
    background-position: center left; /* 圖像位置設置在左邊中間 */
}

.gaming-item {
    background-image: url('/image/console.png');
}

.sports-item {
    background-image: url('/image/sports.png');
}

.business-item {
    background-image: url('/image/briefcase.png');
}

.crypto-item {
    background-image: url('/image/bitcoin.png');
}

.television-item {
    background-image: url('/image/television.png');
}

.celebrity-item {
    background-image: url('/image/magazine.png');
}

.dow-jones {
    background-image: url('/image/letter-d.png');
}

.sp-500 {
    background-image: url('/image/spark.png');
}

.nasdaq {
    background-image: url('/image/nasdaq.png');
}

.philadelphia {
    background-image: url('/image/liberty-bell.png');
}

.article-content {
    display: flex;
    align-items: flex-start;
}

.image-wrapper {
    float: right; /* 將圖片浮動到右側 */
    margin-left: 20px;
}

.article-content img {
    max-width: 200px;
}

.content {
    flex: 1;
    /*float: left; !* 有img 將文章內容浮動到左側 *!*/
    /*width: 90%; !* 有img 設置文章內容的寬度，這樣右側的圖片就有足夠的空間 *!*/
}

/*有 img*/
/*.img {*/
/*    margin-left: 20px;*/
/*    float: right; !* 將圖片浮動到右側 *!*/
/*    width: 10%; !* 設置圖片的寬度，這樣文章內容就有足夠的空間 *!*/
/*    border-radius: 2px;*/
/*}*/

/* 分頁按鈕容器的樣式 */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* 分頁按鈕的樣式 */
.pagination button {
    background-color: #FF6F61;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* 分頁按鈕的懸停效果 */
.pagination button:hover {
    background-color: #db7e75;
}

/* 分頁按鈕的當前頁樣式 */
.pagination button.active {
    background-color: #8f1125;
}

/* 根據文章類別變色 */
.company-news {
    background-color: #ffe1e7; /* 粉紅色 */
    color: darkred;
}

.broad-market-news {
    background-color: #FFD166; /* 橙黃色 */
    color: white;
}

.company-discussion {
    background-color: #dbfad7; /* 青色 */
    color: #247046;
}

.advice-request {
    background-color: #118AB2; /* 深藍色 */
    color: white;
}

.other {
    background-color: rgb(223, 246, 246);
    color: midnightblue;
}

/* 圓角邊框 */
.article-details p {
    /*border-radius: 5px;*/
    padding: 2.5px;
}


.article-div hr {
    margin-top: 5px; /* 設置上邊距為5px，其他邊距為預設值（0） */
}


/* 游標滑過效果 */
.article-div:hover {
    background-color: #d0d0d0; /* 淺灰色 */
    cursor: pointer; /* 將mouse設為點擊指示 */
}

.article-div h3 {
    margin-top: 0.5px;
}


/* 搜尋框 */
.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

#searchInput {
    font-family: "PT Sans", sans-serif; /* 將h2的字體設置為Roboto */
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 8px 0 0 8px; /* 右上角和右下角是8px的直角，其他角是圓角 */
    width: 250px;
    font-size: 16px;
}

#searchButton {
    font-family: "PT Sans", sans-serif; /* 將h2的字體設置為Roboto */
    padding: 10px 20px;
    background-color: #ffd7bb;
    border: none;
    border-radius: 0 8px 8px 0;
    color: #772504;
    cursor: pointer;
    font-size: 16px;
}

#searchButton:hover {
    background-color: #ff5a4d;
}

#searchButton:hover {
    background-color: #ff5a4d;
}

