@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
    font-family: 'Roboto', sans-serif; /* 使用 Roboto 字體 */
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #ff6f61; /* 活潑的橙紅色 */
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: flex-end; /* 將內容靠右對齊 */
    align-items: center;
}

.navbar h1 {
    font-family: "PT Sans", sans-serif;
    margin: 0;
    padding: 0;
    flex: 1; /* 讓標題佔據剩餘空間 */
    letter-spacing: 2px; /* 調整字元之間的空間 */
}

.navbar .slogan {
    display: flex; /* 使用 flexbox */
    align-items: center; /* 垂直居中對齊 */
    font-size: 10px;
}

.navbar .slogan h1 {
    margin-right: 5px; /* 調整標題和副標題之間的間距 */
}


.navbar button {
    margin-left: 10px; /* 設置按鈕之間的間距 */
}

.container {
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden; /* 禁止內容超出容器範圍 */
}


.board-list {
    font-family: 'Garamond', serif;
    flex: 0 0 200px; /* 固定寬度 */
    background-color: #e0e0e0; /* 淡灰色 */
    padding: 10px;
    /*margin-right: 20px; !* 添加右邊間隙 *!*/
}

.board-list hr {
    border: none; /* 移除原來的邊框 */
    border-top: 1.5px solid black; /* 添加上方2px粗的黑色邊框 */
    width: 180px;
}

.board-list h2 {
    margin-top: 5px;
    font-family: "PT Sans", sans-serif; /* 將h2的字體設置為Roboto */
    text-align: center; /* 將標題置中 */
}

.board-list ul {
    font-family: "Lora", serif; /* 將ul的字體設置為Lora */
}


.board-list h2 {
    margin-top: 10px;
    margin: 0 0 10px 0;
    padding: 0;
}

.board-list h2:last-of-type {
    margin-bottom: 10px; /* 添加底部間距 */
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 5px 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

.slogan {
    font-size: 14px; /* 調整標語的字體大小 */
}

.publish-btn, .match-btn, .account-btn, .logout-btn {
    width: 30px; /* 設置按鈕寬度 */
    height: 30px; /* 設置按鈕高度 */
    margin-left: 40px;
}


/* 設定icon */
.list-item {
    padding-left: 30px; /* 為了給圖像留出空間 */
    background-size: 20px; /* 調整圖像大小 */
    background-repeat: no-repeat; /* 避免重複顯示 */
    background-position: center left; /* 圖像位置設置在左邊中間 */
}

.gaming-item {
    background-image: url('/image/console.png');
}

.sports-item {
    background-image: url('/image/sports.png');
}

.business-item {
    background-image: url('/image/briefcase.png');
}

.crypto-item {
    background-image: url('/image/bitcoin.png');
}

.television-item {
    background-image: url('/image/television.png');
}

.celebrity-item {
    background-image: url('/image/magazine.png');
}

.dow-jones {
    background-image: url('/image/letter-d.png');
}

.sp-500 {
    background-image: url('/image/spark.png');
}

.nasdaq {
    background-image: url('/image/nasdaq.png');
}

.philadelphia {
    background-image: url('/image/liberty-bell.png');
}

.article-content {
    display: flex;
    align-items: flex-start;
}

.image-wrapper {
    margin-right: 10px;
}

.article-content img {
    max-width: 200px;
}

.content-details {
    flex: 1;
}


/* Auth Container */
#auth-container {
    font-family: "Lora", serif;
    margin: 0 auto; /* 左右margin */
    max-width: 1000px;
    justify-content: space-between; /* 將兩個表單放在容器的兩側 */
    display: flex;

}


/* Sign In Form */
#sign-in-form {
    margin-top: 150px; /* 上邊距 */
}

#sign-in-form input[type="text"],
#sign-in-form input[type="password"],
#sign-in-form button {
    font-family: "Lora", serif;
    width: 60%; /* 寬度填滿容器 */
    padding: 10px; /* 內邊距 */
    margin-bottom: 10px; /* 下邊距 */
    border: 1px solid #ccc; /* 邊框 */
    border-radius: 5px; /* 圓角 */
    box-sizing: border-box; /* 設置 box-sizing 屬性 */

}

#sign-in-form button {
    background-color: #ffa07a;
    color: #fff; /* 文本顏色 */
    cursor: pointer; /* 鼠標指針 */
}

#sign-in-form button:hover {
    background-color: #ff7f50; /* 滑鼠懸停時的背景顏色 */
}


/* Sign Up Form */
#sign-up-form input[type="text"],
#sign-up-form input[type="password"],
#sign-up-form input[type="text"]#signup-nickname,
#sign-up-form select {
    font-family: "Lora", serif;
    width: 60%; /* 寬度填滿container */
    padding: 10px; /* 內邊距 */
    margin-bottom: 10px; /* 下邊距 */
    border: 1px solid #ccc;
    border-radius: 5px; /* 圓角 */
    box-sizing: border-box;
}

.auth-btn {
    background-color: #ffa07a;
    color: #fff;
    cursor: pointer;
    font-family: "Lora", serif;
    width: 60%; /* 寬度填滿container */
    padding: 10px; /* 內邊距 */
    margin-bottom: 10px; /* 下邊距 */
    border: 1px solid #ccc;
    border-radius: 5px; /* 圓角 */
    box-sizing: border-box;
}

#sign-up-form h3 {
    font-size: 12px;
}

#sign-up-form button:hover {
    background-color: #ff7f50;
}


/* Hashtag Buttons */
#hashtag-buttons {
    margin-top: 12px;
    margin-bottom: 10px;
}

.hashtag-btn {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #ffa07a;
    color: #fff;
    border: none;
    cursor: pointer;
}

.hashtag-btn:hover {
    background-color: #ff7f50;;
}

.hashtag-btn:focus {
    outline: none;
}

.selected {
    background-color: darkred; /* 選擇時的背景顏色 */
    color: #fff; /* 選擇時的文本顏色 */
}

/* Profile */
#profile-container {
    font-family: "Lora", serif;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    height: 300px; /* 自動調整高度 */
    align-items: center;
    justify-content: center; /* 重要，水平與垂直居中 */
    background-color: white; /* 背景顏色 */
    border: 1px solid #ccc; /* 邊框 */
    border-radius: 10px; /* 圓角 */
    padding: 20px; /* 內邊距 */
    margin: 20px auto; /* 上下 20px，左右自動置中 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 陰影 */
    width: 30%; /* 設置寬度為父容器的 70% */
    text-align: center; /* 文字置中 */
}


#profile-container h2 {
    margin-bottom: 10px; /* 標題下邊距 */
    color: #333; /* 文本顏色 */
}

#profile-container p {
    margin: 5px 0; /* 段落間距 */
    color: #666; /* 文本顏色 */
}

#profile-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

#profile-container .button {
    background-color: #ffa07a; /* 按鈕背景顏色 */
    color: #fff; /* 文本顏色 */
    border: none; /* 移除邊框 */
    border-radius: 5px; /* 圓角 */
    padding: 10px 20px; /* 內邊距 */
    cursor: pointer; /* 鼠標指針 */
    transition: background-color 0.3s ease; /* 平滑過渡 */
}

#profile-container .button:hover {
    background-color: #ff7f50; /* 滑鼠懸停時的背景顏色 */
}